<div class="left-sidebar">
  <div class="left-sidebar-logo-container">
    <%= image_tag "nav-logo-img.png", id: "sidebar-logo-image" %>
  </div>
  <div class="menu-structure">
    <div class="menu-item">My Profile</div>
    <div class="menu-item">My Rewards</div>
    <div class="menu-item">Search Restaurants</div>
    <div class="menu-item">My Restaurants</div>
    <div class="menu-item">About Us</div>
    <div class="menu-item">About PAIR</div>
    <div class="menu-item">About Bence Kiss</div>
  </div>
</div>
