<h1>What is PAIR?</h1>
<div class="about">
  <p class="team"><em>PAIR always is recursive</em></p>
  <p>We are a group of junior web developers with a deep passion for programming.</p>
  <p>As a final project in our 400 hour, immersive bootcamp at Bitmaker, we came up with this app
    that rewards restaurant goers whenever they tweet about a specific restaurant. The number of points earned
    are tied to the number retweets and likes their post gets</p>
  <p>Our team consists of the following developers:</p>
  <ul>
    <li class="team">Ryan Anderson</li>
    <li class="team">Bence Kiss</li>
    <li class="team">Yuri Manahan</li>
    <li class="team">David Rhie</li>
  </ul>
</div>
