  <div id="logo-button">
    <h1><a href="/auth/twitter">ShoutOut!</a></h1>
  </div>
  <div class="stripe">
</div>
<%# @restaurants.each do |restaurant| %>
  <%# link_to restaurant.name, restaurant_url(restaurant) %><br>
<%# end %>
