@import 'variables';

@media only screen and (min-width: 1024px) {

  ////HIDE THE MOBILE VIEW LOGO
  #logo img {
    display: none;
  }

  #shout-modal-call-button {
    display: none;
  }
  #logo-box {
    display: none;
    position: static;
    #title {
      display: inline-block;
    }
    .blurb {
      margin: 0;
      display: inline-block;
      text-align: center;
    }
  }

}
