@import "variables";

div.right-sidebar {
  float: right;
  // background: $secondary;
  .my-restaurant {
    padding: 5px;
  }
}


.restaurant-img-container {
  width: 55%;
  margin-left: auto;
  margin-right: auto;

  img {
      width: 100%;
  }
}

.restaurant-info-container {
  padding: 5px;
}
