@import 'variables';

.about {
  text-align: left;
  padding: 30px;
  background: white;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 2px 2px 2px gray;

}
.team {
  text-align: center;
  list-style-type: none;
  padding: 5px 0;
  }
