@import 'variables';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary;
}

nav {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 10px;
  background: $secondary;

  p, img, a {
    display: inline;
  }
}

textarea, input, select {
  padding: 5px;
  font-size: 1.2em;
}

// body:hover {
//   background: orange;
// }
