@import "variables";
@import "desktop-homepage";
@import "desktop-sidebars";
@import "desktop-hidden";
@import "desktop-center";

@media only screen and (max-width: 1023px) {
  .desktop-view {
    // height: 100vh;
    height: 100%;
    margin-bottom: -60px;
  }

  .homepage-shell {
    height: 100%;
  }
  
  #homepage-phone-box {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  ////CORE CSS ROLES
  body {
    margin: 0;
  }

}
