@import "variables";

#logo-button {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: $secondary;
  border: 2px solid black;
  box-shadow: 10px 10px 10px black;
  // position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
  position: relative;
  top: 125px;

  h1 {
    position: absolute;
    top: 182px;
    left: 6px;
    font-family: "Passion One";
    font-size: 7em;
    transform: rotate(-12deg);

    a {
      color: black;
      text-decoration: none;
    }
  }
}

#logo {
  float: left;
  display: inline-block;
  font-size: 3em;
}

#logo-button:hover {
  background: yellow;
}

.stripe {
  background-color: $tertiary;
  height: 200px;
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: -1;
}

.stripe:hover {
  background-color: orange;
}
