@import "variables";

#logo-button {
  //Physical Structure
  width: 197px;
  height: 197px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px gray;
  background-color: transparent;
  border: $thin-border;
  z-index: 2;
  margin-top: 10px;

  //Positional Structure
  position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
  #shout-static, #shout-hover {
    width: 350px;
    height: 350px;
    margin-top: -180px;
    margin-left: -161px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: rotate(-20deg)
  }
}

#logo {
  float: left;
  display: inline-block;
  font-size: 3em;
  padding: 0 10px;
  i {
    color: white;
    text-shadow: $drop-shadow;
  }

  img {
    width: 50px;
    padding-bottom: 5px;
  }
}

#logo-button:hover {
  background: white;
  i {
    color: $primary;
  }
}

#title {
  font-family: "Passion One";
  font-size: 3em;
}

.blurb {
  padding: 10px;
  width: 80%;
  margin: 10px auto;

  p {
    font-size: 1.3em;
  }
}
