@import "variables";

#logo-button {
  //Physical Structure
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: $logo-shadow;
  background-color: $primary;
  border: $thin-border;

  //Positional Structure
  position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
  transform: rotate(-12deg);

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: -80px;
    margin-left: -90px;
    color: white;
    font-size: 10em;
    text-shadow: $drop-shadow;
  }
}

#logo {
  float: left;
  display: inline-block;
  font-size: 3em;
  padding: 0 10px;
  i {
    color: white;
    text-shadow: $drop-shadow;
  }
}

#logo-button:hover {
  background: white;
  i {
    color: $primary;
  }
}

.stripe {
  background-color: $primary;
  height: 100px;
  position: absolute;
  // top: 35%;
  width: 100%;
  bottom: 0;
}
