@import 'variables';

@media only screen and (max-width: 1023px) {
  .left-sidebar, .left-sidebar-logo-container, .right-sidebar {
    display: none
  }
  .right-sidebar-mobile {
    margin-top: 20px;
    background: white;
    box-shadow: $drop-shadow;
    border-radius: 10px;
    padding: 10px;

    .reward-resto{
      font-size: 1.2em;
    }
  }
  .profile{
    position: absolute;
    right: 0;
    top: 5px;
  }
  .restaurant-desktop{
    display: none;
  }
  .navlist{
    position: absolute;
    width: 50%;
    list-style: none;
    text-align: left;

    .navelement{
      padding: 20px;
      a{
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.05em;
      }
    }
    .navelement.logo {
        padding: 0;
    }
    .navelement.resto{
      display: none;
    }
  }

  .desktop-signin {
    display: none;
  }
  .footer {
  position: fixed;
  bottom: 0;
  }
  .left-footer {
    padding: 10px 0 0 10px;
    float: left;
    color: white;
    font-size: 1.5em;
  }
  .right-footer {
    float: right;
    .footer-list{
      list-style: none;
      .about-desktop{
        display: none;
      }
    }
  }

  .dropdown-bottom {
    display: none;
    width: 130px;
    position: fixed;
    bottom: 60px;
  }

  .dropdown-mobile {
    background: lightgray;
    padding: 2px;
  }
  .shout-form{
    h1{
      font-size: 1.5em;
    }
  }
  .shoutouts-heading {
    font-size: 2em;
  }

  .desktop-view {
    text-align: center;
  }


  .resto-name {
    width: 75%;
    text-align: left;
    h3 {
      font-weight: 500;
    }
  }

  .camera, .camera2 {
    display: inline-block;
    padding: 5px 15px;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
  }


  div#shoutout-boxset {
      /* display: block; */
      width: 500px;
  }
  input#shout_upload, input#resto_shout_upload {
    display: none;
  }
}

@media only screen and (max-width: 500px){
  div#shoutout-boxset {
      /* display: block; */
      width: 98%;
  }

  .shell {
    width: 98%;
  }

  div.shoutout-box {
  }

  .resto-name > h3 {
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    line-height: 2;
  }

  .resto-name {
    display: block;
    width: 75%;
  }

  .resto-info {
    padding-right: 5px;
    min-height: 100px;
    position: relative;
  }

  .resto-points {
    // display: inline-block;
    float: right;
    position: absolute;
    top: 45px;
    right: 0px;
    min-width: 100px;
  }

  .resto-shouts {
    position: absolute;
    top: 25px;
    right: 7px;
  }
  .resto-points, .resto-shouts {
    display: inline-block;
    padding-right: 5px;
    width: 21%;
    strong {
      font-size: 0.9em;
    }
  }

  .points-label, .points-number, .shouts-number, .shouts-label {
    display: inline-block;
  }

  div#mobile-trophy {
    float: left;
    margin: 0 8px;
    display: none;
  }

}

@media only screen and (max-height: 300px){
  .footer {
    display: none;
  }

  .modal.shout-modal {
    height: 130%;
  }
}

@media only screen and (min-width: 769px){
  .camera, .camera2 {
    display: none;
  }

  input#shout_upload, input#resto_shout_upload {
    display: block;
    margin: auto;
  }

}
