@media only screen and (max-width: 1024px) {
  .left-sidebar, .left-sidebar-logo-container, .right-sidebar {
    display: none
  }
  .desktop-signin {
    display: none;
  }
  .footer {
  position: fixed;
  bottom: 0;
  }
  .left-footer {
    padding: 10px 0 0 10px;
    float: left;
    color: white;
    font-size: 1.5em;
  }
  .right-footer {
    float: right;
  }

  .dropdown-bottom {
    display: none;
    width: 130px;
    position: fixed;
    bottom: 60px;
  }

  .dropdown-mobile {
    background: lightgray;
    padding: 2px;
  }
  .shout-form{
    h1{
      font-size: 1.5em;
    }
  }
  .shoutouts-heading {
    font-size: 2em;
  }

  .desktop-view {
    text-align: center;
}

div#shoutout-boxset {
    /* display: block; */
    width: 500px;
}
  input#shout-shout-image {
    font-size: .5em;
  }
}

@media only screen and (max-width: 500px){
  div#shoutout-boxset {
      /* display: block; */
      width: 320px;
  }
}
