@import 'variables';

.modal {
  border: $border;
  background: lightgreen;
  padding: 20px;
  width: 500px;
  text-align: center;
  position: fixed;
  margin-left: -250px;
  margin-top: -250px;
  left: 50%;
  top: 50%;
}

.shout-modal {
  display: none;
}

.rewards-modal {
  display: none;
}

.button-bar {
  margin: 40px;

  button {
    margin: 0 10px;
  }
}


#avatar {
  border: 2px solid red;
}

#avatar:hover {
  border: 2px solid white;
}

.dropdown {
  position: absolute;
  background: $secondary;
  width: 310px;
  right: 112px;
  top: 64px;
  padding: 0 15px 15px;
  border: 1px solid black;
  border-top: none;
  display: none;

  a:hover {
    color: black;
    line-height: 1.5em;
    font-weight: 900;
    font-style: italic;
  }
}
