@import 'variables';

.modal {
  border: $border;
  background: lightgreen;
  padding: 20px;
  width: 500px;
  text-align: center;
  position: fixed;
  margin-left: -250px;
  margin-top: -250px;
  left: 50%;
  top: 50%;
}

.shout-modal {
  display: none;
}

.rewards-modal {
  display: none;
}

.button-bar {
  margin: 40px;

  button {
    margin: 0 10px;
  }
}
