@import 'variables';

.modal {
  border: $normal-border;
  background: $modal-color;
  padding: 20px;
  width: 500px;
  text-align: center;
  position: fixed;
  margin-left: -250px;
  margin-top: -250px;
  left: 50%;
  top: 50%;
  z-index: 2;
}

.shout-modal {
  display: none;
  width: 100%;
  height: 78%;
  left: 0;
  margin-left: 0;
  z-index: 6;
}

.rewards-modal {
  display: none;
}

.button-bar {
  margin: 40px;

  button {
    margin: 0 10px;
  }
}


#avatar {
  border: $thin-border;
  border-radius: 50%;
  margin: 0 10px;
}

#avatar:hover {
  border: 2px solid white;
}

.dropdown {
  position: fixed;
  background: $secondary;
  width: 100%;
  top: 66px;
  padding: 2px 12px 1px;
  display: none;
  box-shadow: $drop-shadow;

  .dropdown-button {
    display: inline-block;
    // border: $thin-border;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.5em;
    width: 49%;
    color: gray;
  }

  .dropdown-button:hover {
    border-bottom: 4px solid $primary;
    color: $font-color;
  }
}
