// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.restaurant-show-container {
  width: 40%;
  margin: auto;
}

.restaurant-description {
  width: 30%;
  display: inline-block;
  margin: 10px;
  padding: 10px;

  border: 1px solid black;
}

.restaurant-image {
  border-radius: 20px;
  max-width: 100%;
  border: 2px solid black;
  overflow: hidden;
}

.restaurant-container {
  overflow: hidden;
}

.restaurant {
  padding: 20px;
  border-bottom: $normal-border;
  width: 40%;
  margin: 20px auto;
}

.field.rewards {
    margin: auto;
}

input#restaurant_rest_img {
    margin-left: 35%;
}
