// Place all the styles related to the shouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.field {
  display: block;
  padding: 5px;

  textarea, input, select {
    width: 90%;
  }
}

.actions {
  padding: 10px;

}

#shoutout-box {
  width: 90%;
  border: $border;
  display: inline-block;

  .resto-shoutout-box {
    width: 40%;
    display: inline-block;
    border: $border;

    img {
      width: 100%; //This ensures that the image stays within resto-shoutout-box div.
    }
  }

  .shout {
    width: 58%;
    display: inline-block;
    float: right;

    .shout-image img {
      width: 100px;
      height: 100px;
      max-width: 100%;
    }
  }
}

#call-shout-modal {
  background-color: $secondary;
  padding: 10px;
}
